.contact-container {
    text-align: center;
    padding: 30px;
    background-color: #f0f0f0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }
  